/* Stylesheet for...Skillshare: HTML tutorial/Build a web site */

/* links */

a:link{color:blue;text-decoration:none;};
a:visited{color:purple};
a:active{color:red;}
a:hover{background-color:white;color:red;text-decoration:none;font-weight:bold;}
     
/* rest of web page... */

html{
 margin:0.5cm;background-color:black;
}

body{
 font-family:arial,verdana,sans-serif;background-color:white;
}

nav{
 background-color:silver; 
 padding:5px;
 text-align:center;
}

.clsSelected{
 font-weight:bold;   
 font-style:italic;
}

header{ 
 text-align:center;  
 padding:25px;
 background-color:black;
 color:white;
}

div.pictures{
 padding:1cm;
 background-color:pink;
}

main{
 padding:1cm;
}

footer{
 text-align:right;  
 padding:10px; 
 background-color:silver;
 color:gray;
}   

.clsDateTimeStamp{
 font-style:italic; 
 color:red; 
}         

#idCopyrightMsg{
 background-color:white;
 color:black;
 font-weight:bold;  
}

