/*
 Stylesheet for Windows Azure Test Site 01

 Created: 13:34 21/09/2016
 Updated: 13:34 21/09/2016
*/

/* Links */

a:link{
 text-decoration:none;
 color:blue;
}

a:hover{
 text-decoration:underline;
 background-color:white;
 color:red;
}

/* Main */

body{
 background-color:white;
 color:black;
 font-family:arial,verdana,sans-serif; 
}

header{
 background-color:gray;
 text-align:center;
}

hr{
 width:50%;
}

footer{
 background-color:silver;
 text-align:right;
}

#idCopyrightMsg{
 background-color:black;
 color:white;
} 
