/*
 Stylesheet for Windows Azure Test Site 01

 Created: 13:34 21/09/2016
 Updated: 13:34 21/09/2016
*/

/* Links */

a:link{
 text-decoration:none;
 color:blue;
}

a:hover{
 text-decoration:underline;
 background-color:white;
 color:red;
}

/* Main */

body{
 margin-left:25%;
 margin-right:25%;
 background-color:white;
 color:black;
 font-family:arial,verdana,sans-serif; 
}

header{
 background-color:gray;
 text-align:center;
}

h2{
 background-color:silver; 
}

footer{
 background-color:gray;
 color:black;
 text-align:right;
}

#idCopyrightMsg{
 font-weight:bold;
 background-color:black;
 color:white;
} 

.clsTimeDateStamp{
 font-style:italic;
 color:white;
}
